body {
  background-color: papayawhip;
}

.heading {
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
}

.now {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.divider {
  width: 75%;
  margin-bottom: 2rem;
}

.timeBlock {
  justify-content: center;
  margin-bottom: 0.5rem;
  display: flex;
}

.timeArea {
  width: 5rem;
  height: 5rem;
  background-color: darksalmon;
  text-align: center;
  border-right: 0.1rem solid black;
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 3rem;
}

.timeText {
  min-width: 50%;
  background: transparent;
  border: none;
  resize: none;
  white-space: pre-wrap;
  color: black;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 1rem;
}

.past {
  background-color: #e4e4e4;
}

.present {
  background-color: #f88983;
}

.future {
  background-color: #8ad38a;
}
.foot {
  position: fixed;
  bottom: 0;
  font-size: 1rem;
}
