body {
  background-color: cadetblue;
}

.heading {
  font-size: 3.5rem;
  text-align: center;
  margin-top: 1rem;
}

.now {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.divider {
  width: 75%;
  margin-bottom: 2rem;
}

.timeBlock {
  display: inline-block;
  width: 100%;
  margin-left: 4rem;
  margin-right: 4rem;
}

.timeArea {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-color: aquamarine;
  text-align: center;
  border-top: 0.1rem dashed black;
  border-right: 0.1rem solid black;
}

.timeText {
  display: inline-block;
  min-width: 50%;
  height: 5em;
  background: transparent;
  /* border: none; */
  resize: none;
  color: #000000;
}

.timeButton {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
